[2019-03-31 15:52] joshcsullivan opened #3 "Boot Issue"
Hello,

I installed Commander and it was working great. I had to restart the server it was installed on and now I get this error when I try to start TW:

[code]

Unfortunately, I cannot even get TW started due to this issue, and therefore cannot uninstall Commander or install a new version. Is there a way to fix this without going back to a previous snapshot of the server?

Thanks,
Josh

[2019-03-31 16:03] #3 closed

[2019-09-07 21:13] flibbles opened #4 "TW-Commander for NodeJS"
So after having experimented with your plugin because of our discussion, I've identified a few times your plugin would have been helpful just this afternoon.

However, I have many projects, and they work through NodeJS. Instead of installing Commander individually into all of them, I'd much prefer to be able to install Commander in my `/usr/local/lib/node_modules/tiddlywiki/plugins` directory and

[2019-09-07 21:21] flibbles commented on #4
If you're not interested, or you're not sure how, I can always use commandline tiddlywiki to unpack your plugin. It'd just take me a few minutes to remember how.

[2019-09-08 03:47] kookma commented on #4
@flibbles
Sure! I will add the source as you requested!
I would also appreciate your help in improving Tiddler Commander

[2019-09-08 07:49] TiddlyTweeter opened #5 "Improve Regex section by adding "gm" flag"
Suggest addition of "gm" flag to improve text field matching. At moment its either/or g & m. Javascript supports the combined "gm" too.

[2019-09-08 07:52] TiddlyTweeter opened #6 "Add link from RegEx section to: http://tw-regexp.tiddlyspot.com"
Add link from RegEx section to: http://tw-regexp.tiddlyspot.com. Users need access to examples :-). I will add examples to cover working in text field, which is the most difficult to understand.

[2019-09-08 07:57] TiddlyTweeter opened #7 "Suggestion: Regex section allows non-destructive "test mode"?"
An issue with Regular Expressions is they can have unpredictable results, especially in the text field.
Safe testing is important to see the effect before application.

I'm wondering if it would be possible to have a "test-mode" where you apply regex to a temporary test tiddler before you apply it across Tiddlers?

Or maybe http://tw-regexp.tiddlyspot.com could have a subset of TC that allows that

[2019-09-08 08:03] TiddlyTweeter opened #8 "Suggestion: TC & your Trash-bin be integrated as an "Undo" function?"
A long term issue in TW has been that it lacked an "Undo" function. Your "Trash" tool largely addresses that issue.

I'm wondering if it could be integrated with TC in such a way that you can from the interface progressively undo? I.e. click "Undo" once and the last change is restored?

FWIW, at the moment I do by using Mal's "versioning" plugin, but have to remember to use it manually.

A thought

[2019-09-08 08:11] TiddlyTweeter opened #9 "Document the modularity better?"
I find the docs already pretty good.

The modularity of the design in TC is really good. But _**it might be worth documenting the modularity more**_ as TC is a tool that users can extend. That is its strength. Its got a consistent internal design you can hook into.

Because TC is so well-featured it means that you can build an app from it, or extend it, without having to yet again remake basic fun

[2019-09-08 10:36] kookma commented on #9
I add this to TC todo list

[2019-09-08 10:39] kookma commented on #8
The idea is really amazing!

I will have a look at Mal's versioning plugin!
Now, there are many operations can be done using TC and tracking all of them for an undo action is not easy.

[2019-09-08 10:43] kookma commented on #7
Do you mean by test mode to have preview before applying SnR?
Or do you mean to add some test cases?

[2019-09-08 10:45] kookma commented on #6
I will add a link from help page!

[2019-09-08 10:55] TiddlyTweeter commented on #7
In my own work I'm working on adding both.

BUT, practically, _**all I think is needed is a "test area"**_ where you can paste in data to test against that won't damage your existing Tiddlers.

[2019-09-08 11:03] TiddlyTweeter commented on #8
One of the end-user problems not having an "Undo" is _**inhibition**_.

It psychologically makes users _reluctant to experiment_ with changes.
Why?
Because of the currently over-complicated solutions to restore (that you backup and restore from backup).

Just my thoughts!

[2019-09-08 11:15] TiddlyTweeter commented on #8
@kookma Mal's VC is here: http://malsandbox.tiddlyspot.com/#%24%3A%2Fplugins%2Fmalgam%2Fversion-control

[2019-09-08 13:29] kookma commented on #7
I will see, but practically test area is not simple to be implemented!
I will check to see if sandboxing is possible in Tiddlywiki or not!

[2019-09-08 13:33] kookma commented on #8
Thanks I will have a look to see how integrate this with Commander!

[2019-09-08 14:00] TiddlyTweeter commented on #7
I understand.

It may be it should be done as a separate tool?
Not sure.

[2019-09-09 11:41] flibbles commented on #4
This is in response to the message you sent me on Google Forum.

I don't know anything about ThirdFlow. I've always developed my plugins in a similar manner similar to how Jermolene makes the tiddlywiki plugins that distribute with the source, but not quite. He'd have you check out the entire Tiddlywiki repository and put your plugin in the plugin directory. I keep my repository separate, and if I

[2019-09-09 18:32] kookma commented on #4
Thanks for your detailed explanation!
Yes, I have nodeJS + TW5 installed on my system and the present Commander plugin has been developed using ThirdFlow (lets work with Node.JS version of TW), but what I published is the packed plugin!

I think ThirdFlow automates much of the works should be done from command line! but I need to resolve some minor issues! I hope I could publish the source on GitH

[2019-09-09 23:16] flibbles commented on #4
If you broke it down into source files
* you'd be editing your tiddlers with an editor, like vi or emacs, or notepad or something
* You'd be testing by running a console command like `tiddlywiki --build test` and then refreshing a browser window
* You'd be pushing a build by updating the version number in a plugin.info file, running a command like `tiddlywiki --build dist`, and committing to git.

[2019-09-10 06:43] kookma commented on #4
Many thanks for complementary explanations!
I will soon update the source files!

Yes, ThirdFlow do all of these except the git part! The issue was it does not keep all files in the same folder because its primary objective is to create packaged plugin!

I recommend to have a look.

[2019-09-10 11:57] flibbles commented on #4
I have tried it. The plugin seems to be working as intended. And it integrates with Relink just fine.

I hope it wasn't too much effort, and remember, if this new workflow doesn't work for you, don't keep it just on my account.

[2019-09-10 11:57] #4 closed

[2019-09-11 07:35] kookma commented on #4
I planned to create a new branch and see how I can use Relink with Commander!
It seems I need to add checkboxes or a setting section to let Commander knows if a call to Relink is needed!

[2019-09-11 10:55] flibbles commented on #4
Probably just this:
[code]
That'll enable/disable Relink if Relink is installed.
It'll also enable/disable the vanilla list and tags relink if Relink isn't installed.

[2019-09-11 10:56] flibbles commented on #4
The language string will also be correct whether or not Relink is installed.

[2019-09-11 13:49] kookma commented on #4
Many thanks!
It works like a charm!
I gonna to prepare a new release! I will add the checkbox under setting!
This way users can install both plugin as they wish and if Relink was present then the setting will show the checkbox! Please let me know if you have any comment idea.

One question: Does this setting affect Relink globally or it will be local to Tiddler Commander?

[2019-09-11 13:55] flibbles commented on #4
It's global, and the way that checkbox is used in core is that it appears _while_ you're trying to rename a tiddler. If you set it up as a setting in your global configuration, that setting is bound to change as users check or uncheck the checkbox that appears under any renamed tiddler.

It may be better to have that checkbox appear on the rename page so users can toggle it per operation. That see

[2019-09-11 14:33] kookma commented on #4
That sounds good! but lets see where tiddler name can be changed

- Title manipulation (all three categories)
- SnR where search-n-replace is performed on title

So, at least in two places this checkbox should be appeared!

[2019-09-11 15:43] kookma commented on #4
$:/language/EditTemplate/Title/Relink/Prompt seems does not work properly with commander, as it rename bulk of tiddler! I think I need to use something consistent here!

[2019-09-11 20:17] flibbles commented on #4
It's your call. If the Relink/Prompt doesn't fit, then perhaps something generic will, like "Relink tiddlers", but then mention in your documentation that Commander integrates with Relink. Maybe the prompt can be a link to your documentation.

Or maybe you set up a variable message prompt depending on whether $:/plugins/flibbles/filters exists.

[2019-09-12 06:29] kookma commented on #4
A new update has been pushed! It can integrate to relink now!

[2019-10-21 01:08] flibbles opened #11 "Design critique"
I've been using Commander off and on since it synced up with Relink, and it's definitely useful, but there are a few design choices that seem like they could be improved upon. This is just a critique, and this issue can absolutely be closed after you've read it.

1. There is a dropdown arrow labeled "Select Tiddlers" which you must always expand in order to use Commander at all. I can't think of a

[2019-10-23 13:20] kookma commented on #11
Hi Flibbles,
 Many thanks for your feedback. I highly welcome your comments and idea and I hope I can improve Commander for simpler interface and logic. So, here I will discuss to see how we can implement these improvements and NOT to reject the proposal.

That is correct! I tried  the tiddler list at the bottom of page and also side by side to controls! Each has some pros and cons but I welcome y

[2019-10-23 16:52] flibbles commented on #11
So this is the case where I'm not your typical user. I'm a blackbelt in filter-fu, and I typically write filters that contain exactly the tiddlers I want to manipulate. If most users type in filters that only approximate their target list, then I can see why a commit button _might_ be useful.

Arguably, you can still have it without the commit button. Suppose there's no commit button, and when som

[2019-10-24 09:37] kookma commented on #11
Hi Flibbles,
 Okay! Could you make a PR and lets see how it is going on!
The first part could be removing the commit button but having the check boxes for selective operation.

[2019-10-24 19:35] flibbles commented on #11
I could maybe do this at some point if I get a free moment. I wasn't actually angling to do it myself (which I realize is a little selfish), I was more just providing a critique of the UX.

I looked into it first, and the tricky part about removing the commit button is dealing with those check boxes for selective operation. Before, when you use the commit button, it resets the checkboxes, but you

[2019-10-25 05:23] kookma commented on #11
@flibbles
Okay, Thank you for your help.

[2019-11-01 06:55] kookma commented on #11
@flibbles
I tried to implement your suggestion as below

- by default the result of search filter is the target tiddlers
- if you want to exclude a tiddler then select it and everywhere use the

`[subfilter{$:/temp/commander}] -[[$:/temp/commander/selected-titles]indexes[]] ...`

The problem is if you change the filter still you have the selected item from previous operation. If you do no operatio

[2019-11-01 09:14] kookma commented on #11
Assume you entered a filter selected some items to exclude and then before any operation you enter another new filter, then the items selected from previous search is in $:/temp/commander/selected-titles]indexes[] ...

[2019-11-01 09:45] flibbles commented on #11
Oh whoops. That minus sign is supposed to be a plus sign. I did notice the issue of residual tiddlers being in `selected-titles` but I thought I'd accounted for that.  I'm on a trip right now, but when I get back, I'll try what I suggested and see for myself.

I think I meant:
[code]
Your solutions also works, but I still contend there'd be a benefit from having a `$:/plugins/kookma/commander/sett

[2019-11-01 09:58] kookma commented on #11
Okay! I tried something like this.

I thought it is better to check the idea in a empty.html to see how search and select works!
So, I tried the below solution. The selected tiddlers will be excluded! The main search filter will be used for operation

[code]

on every change the main filter changes, _still the problem is the remained selected items in testIndex from previous operation_. I think we

[2020-01-01 14:35] kookma commented on #11
@flibbles
I am starting reread the Commander code and see how I can improve it!
I appreciate if you send me if you have any idea comments

[2020-01-01 14:42] flibbles commented on #11
You've got a lot of repetition among your macros. I can't speak for all of them, but a frequent operation of mine was to replace title prefixes, instead of just adding or removing them, so I coded that into my local repository. However, in the _source/commander/title/uicomp_ directory, the same macro exists, like, six times I think with only a single line difference between them which could easily

[2020-01-01 15:55] flibbles commented on #11
Also, a UI improvement:

When you type in a filter. Results comes up automatically now, which is nice. That means one less click. However, all results that come up are unselected by default, and the "Select Tiddlers" drop down is closed by default. This means another unnecessary click regardless of how you use Commander.

I'd say all filter options should be selected by default (my preference), or

[2020-01-01 16:05] kookma commented on #11
Here there was two options:
-simple code simple to understand but many repetition
-complex code with no repetition

I selected the first route! By the way in Commander 2 I will look to see where they can be improved!
It is good to exactly refer to them. Then for me it simpler to find and work on them

If you don't mind share them and I will look at them

At the time of development there was lack o

[2020-01-04 19:02] kookma commented on #11
I addressed this commander-ii beta

[2020-02-10 11:13] hchaase opened #15 "cannot delete tag with a space [ ] as first charachter"
I had some tags where, by accident they had a space in front of the text.

I tried to use commander to add a correct tag and delete the one with space in front.

1. search for [tag[ issue]
2- select all tiddlers
3. add new tag (ok)
4. delete old tag [ issue]

I tried "delete tag" and replace tag but neither worked and the log just show
"2020-02-10 11:58:57 remove-old-tag-bulk" but with no entries

[2020-02-10 12:07] kookma commented on #15
@hchaase
As TW 5.1.21 removes the leading spaces, I think it should not possible to add such tags!
by the way Commander strips out leading and trailing spaces when you enter a tag!

by the way can you list those tiddlers using other tools like

`<<list-links filter:"[tag[ issue]]">>`

[2020-02-10 13:18] hchaase commented on #15
Venlig hilsen
HC Haase

Den man. 10. feb. 2020 kl. 13.08 skrev Mohammad Rahmani <
notifications@github.com>:

Well it is. In tiddlywiki.com 5.1.21 the leading space is kept if entered
in front of a tag. See screenshot

But I agree that it should not be possible.
[image: billede.png]

by the way Commander strips out leading and trailing spaces when you enter

that's good.

yes I can.

maybe there i

[2020-02-10 14:13] kookma commented on #15
@hchaase
I recommend to discuss this in the forum! I am ready to push a new update if the issue was in Commander side!

[2020-09-11 16:55] CodaCodr opened #16 "Adding new field "chapter" wipes the text field"
I was enjoying using the power of Commander until this happened. For a batch of tiddlers, I tried to add a new field "chapter". Commander erased all contents of all tiddlers (it wiped the text field). Thankfully, I had made a back up.

I restored the tiddlers, tried again, same result - batch of empty tiddlers. :(

TC 2.1.0
TW 5.1.21
Firefox 79.0

[2020-09-11 19:01] kookma commented on #16
I think this is a bug in Tiddlywiki and not in Commander, but let to ask this for double check and I will inform you!

See https://github.com/Jermolene/TiddlyWiki5/issues/4848
I think I can add exception handling to ignore operation when $field is empty!

[2020-09-13 18:20] kookma commented on #16
@CodaCodr the attached file is a patched Tiddler Commander 2.1 for test. Please give a try and let me know if it works.
[commander-2.1.x.zip](https://github.com/kookma/TW-Commander/files/5214860/commander-2.1.x.zip)

[2020-09-13 19:04] CodaCodr commented on #16
One of two things is wrong:

1 - Import (drag/drop) didn't work, The $:/Import tiddler contains nothing. Even if I select the file, nothing is imported.

2- Testing it proved nothing (perhaps dure to #1).

Inspecting the supplied index.html I found it to be the pre-release of 5.1.23 - is that a good idea? Maybe TW rejects upstream versions when importing? Try applying the proposed fix to v5.1.21 (

[2020-09-13 19:08] CodaCodr commented on #16
![image](https://user-images.githubusercontent.com/436812/93026255-523ab700-f5ca-11ea-970f-19b5d82f9478.png)

The tag "toc-times-disabled" was successfully added.
The field "chapter" was not added and the content (text field) was wiped.

[2020-09-13 19:45] CodaCodr commented on #16
I just read the bug you linked above. That's not the problem. As you can see, the field is given a value.

[2020-09-14 01:57] Marxsal commented on #16
Drag and drop of what? The zip contains an entire TW file with the patch. I unzipped and extracted it for testing.

I dragged and dropped the "HelloThere" tiddlers from TiddlyWiki.com into the TC 2.1 file. Then I used TC to add a field "chapter" to all the items tagged HelloThere. It worked as expected and the text fields were left intact.

I don't know if it makes a difference, but I note that th

[2020-09-14 02:49] CodaCodr commented on #16
I downloaded the zip.
I unzipped the zip.
I opened the index.html file.
I dragged the Commander plugin to my TW (5.1.21)
It didn't work.
- The S:/Import tiddler does not auto-select the Commander plugin tiddler
- I tried selecting the tiddler manually
- that didn't work either
TW silently refuses to import the plugin.

I exported the plugin from index.html as JSON.
I imported the JSON (drag-drop f

[2020-09-14 03:13] kookma commented on #16
@CodaCodr The latest version of TC (e.g 2.1) works with TW 5.1.22 above. It does not support 5.1.21. The reason is some filter operators used in TC 2.1  introduced in TW 5.1.22.

Please note that, the trial version I uploaded above is just for testing purpose, please import some tiddlers from tiddlywiki.com or other resources and make some experiments on that. I hopefully push a new release after

[2020-09-14 03:17] CodaCodr commented on #16
Excellent. Thank you!

[2020-09-14 03:26] kookma commented on #16
@CodaCodr Please give a try and let me know if it works! Also I appreciate to submit other issues if any.

[2020-09-14 14:51] CodaCodr commented on #16
Upgraded my wiki to 5.1.22.

Retried with TC 2.1.x

BTW, I had to REMOVE the old commander to get it to upgrade to 2.1.x :/

![image](https://user-images.githubusercontent.com/436812/93101356-ca0eed00-f66f-11ea-8920-9c804e2c8b5e.png)

[2020-09-14 18:45] Marxsal commented on #16
My observation of TW is that sometimes the browser memory retains old information even after a reload. Do you encounter the same problem after reloading 2 or 3 times?

[2020-09-14 20:04] CodaCodr commented on #16
@Marxsal No. This browser instance is started from from a fresh, newly created profile, ensuring all cookies are virgin/killed in the process. I sincerely doubt that was the problem.

If you meant the wiki is hanging on to the old TC version, well, yes, it certainly is and refusing to load the newer one. Only when I disabled then deleted the old version was I able to drag in the new TC successfull

[2020-09-14 20:09] kookma commented on #16
@CodaCodr no worry! It has a very little settings will be deleted on TC removal.
Would you please give a try on the html file I sent you above. Do not install TC on your own wiki, just make some experiments and let me know if it works for you or not!

[2020-09-14 20:47] CodaCodr commented on #16
@kookma Damn. That works!

I guess that means I have a conflict with another plugin. It's going to take me a while to find the time to go through them. If you happen to know any known clashes with other plugins, please let me know.

Thanks for your help on this!

[2020-09-15 03:58] kookma commented on #16
@CodaCodr so it works! I will try to push a new release next week. I will wok on this at the weekend and then you should be able to install the new release on your own wiki. Tiddlywiki uses the plugin version number to install a new release on an old one.

I have not heard any clashes by now, but if send your old wiki (clear everything but keep the plugins) I will have a look.

[2020-09-17 05:00] #16 closed

[2020-12-14 15:32] Marxsal opened #17 "[Feature request] Allow TC to modify/create non-existent tiddlers"
Currently you can only apply batch changes to tiddlers that actually exist. So, for instance, if you wanted to add color to a set of tags that aren't represented by tiddlers, you couldn't do it with TC. Having an option to allow adding new fields to also create new tiddlers would be useful in many such cases.

Thanks!

[2020-12-14 15:58] kookma commented on #17
Hi Mark!
I don't know how to do this while keep other operations intact.
Do you think we need to add an extra tab processing non-existing tiddlers?

[2020-12-14 17:50] Marxsal commented on #17
Could it be an option that only shows up when the "fields" tab is selected?

[2020-12-14 20:36] kookma commented on #17
May be!  commander create tiddlers, so that part actually works on non-existent tiddler, but here we need to select a batch of tiddler which are not existed and then add some fields and values!
 I have created a development branch to give a try! So, please let me know how your idea works.

See development branch!

[2020-12-14 21:45] Marxsal commented on #17
When you set a field on a non-existent tiddler, TW creates the tiddler for you automatically. It's one of 3 ways you can create new tiddlers.

[2020-12-19 15:29] kookma commented on #17
@Marxsal - At this weekend I am trying to see how to implement your idea. I think the safest one is to create those tiddlers using the create tiddler UI. The problem is the current UI creates tiddlers using a base name and sequential numbers if we add an input box to accept a filter then one create non-existing tiddlers. Please let me know your opinion.

[2020-12-19 19:14] Marxsal commented on #17
I think using createTiddlers will cause many headaches.
What I would do is have a checkbox like
[ ] Show Non-existent tiddlers
If checked, then TC would show those tiddlers along with the others. They will be in italics showing that they do not exist.
I would just use action-setfield, since it will not change the title, which will cause those headaches I mentioned. 

    On Saturday, December 19,

[2020-12-19 20:30] kookma commented on #17
@Marxsal - Your suggestion seem reasonable, lets give a try!

[2021-02-01 15:17] tejasvi opened #18 "Option to prevent updating modified field"
Some of the operations performed are mundane (like changing id field) and 100s of tiddlers showing up in recent tab is unhelpful. A toggle to prevent that would be very useful.

[2021-02-01 15:26] kookma commented on #18
Hi @tejasvi - If I understand you correctly, your request is to prevent changes to be displayed in the recent tab. If so, you can turn off timestamp in Tiddlywiki from right sidebar under tools.

[2021-02-01 15:29] tejasvi commented on #18
TIL. Thanks a lot!!

[2021-02-01 15:29] #18 closed

[2021-06-06 11:51] jbardi opened #19 "Set field value to the value of another field"
I'm not sure if I may have missed this ability, but as far as I can tell, you can only replace hard coded text in a field. I have the need to set the value of one field to the value of another field for a few hundred tiddlers. Would be nice to have the option for 2 dropdown menus, one as source field and the other for target field.

[2021-07-13 05:00] davout1806 commented on #16
FWIW this problem occurred for me after I added Tobias Beer's split plugin.

[2021-07-13 14:58] kookma commented on #16
Could you give a link to that plugin! and let me know what happen when you use both plugin at the same time!

[2021-07-13 16:51] davout1806 commented on #16
http://tobibeer.github.io/tw5-plugins/#split

What happens: as described in the OP. "For a batch of tiddlers, I tried to add a new field "chapter". Commander erased all contents of all tiddlers (it wiped the text field)." Although I'm not sure if it's all tiddlers or just the tiddlers that were filtered.

[2021-07-14 05:44] kookma commented on #16
@davout1806 thank you!
I will do some experiments on an empty TW 5.1.23 + Commander + Split and let you know the results.

[2021-07-14 15:35] kookma commented on #16
Hi @davout1806
I have investigated the isue. Tobias split has overwritten the core split filter operator, that is the reason of reported issue by you. I have no solution for TW 5.123 by now! But TW 5.1.24 has new rules for field name and I will modify this later! By the way please keep in mind that, those plugins overwrite core functionality cannot be supported!

I think  @saqImtiaz can give us so

[2021-07-14 15:48] davout1806 commented on #16
Well for me Commander takes priority. The split plugin for more of a nice to have. But thank you for looking into it.

[2021-07-14 16:04] kookma commented on #16
@davout1806 please see the new split operator introduced in TW 5.1.22 and also [splitregexp](https://tiddlywiki.com/prerelease/#splitregexp%20Operator)

Also examples in TW-Scripts. I think these new filter operator can be very handy for many of your daily operation you did with Tobias Beer's split plugin.

[2021-07-14 18:08] saqimtiaz commented on #16
It's always unfortunate when an older plugin clashes with a new core feature. I would definitely recommend that no one use that split plugin as there can be any number of issues when you least expect it. The core expects the filter it implements to behave exactly in that manner.

I was going to recommend a simple tweak to make Tobias' split filter available under a different name but.... the code

[2021-07-14 20:15] CodaCodr commented on #16
I use `split:before` from Tobias' plugin. The TW `splitbefore` takes the delimiter/separator, too.

[code]

There might be a few more I use, but that's the one that leapt out on my initial search.

@kookma This might explain my OP.

[2021-07-15 04:59] kookma commented on #16
Thank you @saqimtiaz for clarification!
@CodaCodr : I will revise the filed operation when 5.2.0 is available and the split will not be used anymore as 5.2.0 has no restriction on naming fields! By the as Saq recommended I do not recommend to use Tobias split as it overwrites core split operator!

[2021-07-15 12:25] CodaCodr commented on #16
@kookma

Tobias' plugin was written and produced at a time when the core operator did less. Overwriting anything in the core is a valid thing to do -- TW is **SOFT**ware and therefore designed to be malleable AND allows overwriting of core elements. Whether it is wise to do so in any particular case is a matter for the user at the time of import.

In fact, Tobias' plugin is still far superior to t

[2021-07-15 15:17] Marxsal commented on #16
Although the code is minified, the name is at the top right after the **exports** term. So just change **exports.split** into **exports.splitbeer** and then change your existing code to use filter **splitbeer** . Save. Reload. And you're back in business.

[2021-07-15 15:34] CodaCodr commented on #16
I see @twMat's @ttention plugin uses Tobias' split operator, too.

http://attention.tiddlyspot.com/

[2021-07-15 17:59] twMat commented on #16
@CodaCodr - thanks for heads-up!

[2021-07-16 08:26] kookma commented on #16
Well yes, that's correct! but if another person write another filter and overwrite the core, then the plugin maintainer (like commander) has to change the code to also support it and it is impossible to do for more and more codes and plugins around! So, I think the best strategy is to give the core the higher priority!

[2021-07-16 08:28] kookma commented on #16
This is very wise solution, specially as we know Tobias has not maintained his plugins recently while they are among the best!

[2021-07-16 13:53] mike2003 opened #20 "Bulk tiddlers exported not workes!"
I select multiple tiddlers to export in the list, but always only get the first tiddler in the file. But the log says that everything is fine. But this is not so!

And "Number of tiddlers selected for export: 4" but only 1.

[2021-07-16 14:57] kookma commented on #20
What format do you use for export? For multiple tiddlers export you cannot use `.tid`
This is actually the same export macro and widget in the TW core!

[2021-07-16 14:58] kookma commented on #20
I recommend to use `JSON` as export format!

[2021-07-16 16:07] mike2003 commented on #20
thanks for the advice

[2021-07-16 16:17] Marxsal commented on #20
@kookma
I think it's the browser itself that will only download one file. If you ever wanted to add the export ability for multiple tids, then one way would be to use the new official zip plugin. All the tiddlers could be packed into a zip file and then that file downloaded. Of course, the user would have to expand the zip file, but zip comes automatically on windows and is available almost everyw

[2021-07-17 06:38] kookma commented on #20
Hi Mark,
 Good suggestion! in Commander I used the same export tools under $:/AdvancedSearch /   Filter Search from TW 5.1.21
 Now I will update this to 5.2.0 (it seems from 5.1.23 when you export many tiddlers the .tid format is not shown)
 Also it is good to check if jzip plugin is installed show the zip format!

[2021-08-02 04:13] davout1806 opened #21 "Question: Does combo search only support of a subset of filter operators?"
I ask because I have this situation:

I have a list of tiddler names (>100) that I want to do a batch add field operation. As a trial I created a temporary tiddler workingTemp with field 'list' whose value is set to [[All Else Equal]] [[Allegro Vivace]]. If I do an advanced search using the filter [list[workingTemp]] I get as expected All Else Equal and Allegro Vivace. However using Commander comb

[2021-08-03 04:40] kookma commented on #21
@davout1806
If your workingTemp  list field contains TidOne TidTwo TidThree
The commander works fine with `[list[workingTemp ]]` but when the entries have `[[...]]` it fails!
So this is a bug! I will investigate

[2021-09-16 09:58] GeertGeurts opened #22 "Installation on Node.js failed"
Hi,
I'm experiencing problems with the installation on Node.js... I've followed the guide, stop server, copy source/commander to tiddlywiki/plugins/kookma/, modify tiddlywiki.info and start server. But when I browse to $:/Commander I'm getting an funny looking tiddler. Also the icon for Commander is not in the page controls.
Below a screenshot.
![TW-Comander_Screenshot from 2021-09-16 11-43-44](ht

[2021-09-16 14:00] Marxsal commented on #22
I just did a quick test with the local install and it works fine for me. Maybe later I'll try the global install.

Is it possible you still have the *.tid version (local) file-based version installed?

If you have other plugins installed, I would try disabling all of them, reloading, and seeing how it runs on its own.

[2021-09-16 15:20] Marxsal commented on #22
Also worked for me with global install.

[2021-12-14 13:57] kietfsek opened #23 "Add fields not working if plugin "JSON Mangler" is enabled"
Hi,

Maybe this is not TW-Commander's fault, but I'd like to report this phenomenon I saw.

I have the plugin "JSON Mangler" (https://github.com/joshuafontany/TW5-JsonMangerPlugin) installed, and as a result, my TW-Commander's "Field > Add fields" couldn't work because every time I type something into "field name" or "field value" input, the just typed in character get deleted immediately. If I di

[2021-12-14 18:06] kookma commented on #23
@joshuafontany!

Hi Joshua,
 Would you please have a look? TW-Commander should work with fields without considering the tiddler type!

[2022-01-02 21:15] GwenGunn opened #24 "Not functioning on TiddlyDesktop"
Hey, just downloaded this plugin. Not a super accomplished coder here, but I installed it on TiddlyDesktop, and the image won't display on the toolbar, just a blank area, and when I try to open it as its own window through the manager, it gives me a javascript error and asks me to reload. Any idea what to do?

[2022-01-06 19:51] #24 closed

[2022-01-07 05:18] kookma commented on #24
Why did you close the issue? Have you solved it? I do not use TiddlyDesktop, but many use Coammander on it and we have no any problem reported!

[2022-01-24 17:38] wahidmounir opened #25 "Old Tag drop-down list"
the drop down list of old tag in tag tab doesn't work it wont open

even after checking the demo website in which the drop-down list doesn't open

[2022-01-25 03:52] kookma commented on #25
It works for me, tested again on tiddlywiki.com!

Note: You have to enter something in Combo search
and your search shall produces some output
and your output shall have some tags to see the drop down!

If you have no results, or your result has no tag! then you cannot see anything!
![img_874_msedge](https://user-images.githubusercontent.com/830394/150907714-40749051-a216-46a9-921a-f988df37b073.gi

[2022-01-25 03:52] #25 closed

[2022-04-23 15:04] xgadscu opened #26 "Option to use a sub-branch of a toc as search criterion"
I like to use Tiddlywiki for documenting several things. The topics are organized as sub-branches of a toc.
Now I want to be able to export such sub-branches. Is it possible to introduce an option in TW-commander, which allows to gather all tiddlers of a sub-branch in order to export them?

Maybe it is already possible and I missed something.

Best Regards
xgadscu

[2022-04-23 18:33] kookma commented on #26
You can do with the current Commander. Just use appropriate filter?
Do you know how many levels is deep your branch?
If you give me a minimum example I can show how to do.

[2022-04-24 08:22] xgadscu commented on #26
From the user's point of view, the usage should be as easy and comfortable as possible without clarifying in advance how many levels the branch has. That means: the root of the branch should be the only parameter.
My idea was that you could use the algorithm you built in the Multi level TOC UI macro.

Regardless, I would be interested in a specification using filter. A branch usually has 3-4 level

[2022-04-25 14:35] kookma commented on #26
That is the right solution, it uses recursive macro, but adding it needs some programming. I add this to wish list!
For short term, If you use TOC macro then you can create a button to do this for you.

I asked the number of level to write the filter,

[code]

The above filter returns all tiddlers tagged with `Learning` (root) and those tagged with its child, and those with grand childern.
You can

[2022-04-25 15:44] xgadscu commented on #26
I think many other users would also like it if you would implement the wish.

The filter is not so comfortable, but it works for now. During testing I noticed that the referenced tiddlers (via wikilink, transclusion or as images) are missing for the export. The filter functionality is obviously very powerful. But unfortunately I haven't found a way to get the referenced tiddlers into the selection

[2022-04-25 17:28] kookma commented on #26
I would recommend to ask on https://talk.tiddlywiki.org/
That needs a more complex filters, and I don't think it could be used with Commander searchbox.

Note that, this is a general problem (question). What you asked here can be used with $:/AdvancedSearch in Tiddlywiki.

[2022-10-17 20:45] myfta opened #27 "New fields is added as lower case"
If you add a new field to a selection of tiddlers with a field name of, say, "NewField" it is added as "newfield". Can this be fixed?

Renaming the field does not work either from "newfield" to "NewField".

[2022-10-18 08:00] kookma commented on #27
Thank you @myfta
This is by design and. Field with name in mixed case is new to TiddlyWiki.
This will be fixed in 5.3.0 (https://github.com/kookma/TW-Commander/issues/28)

[2022-10-18 08:05] kookma opened #28 "Todos for TiddlyWIki 5.3.0+"
Tiddler Commander is a set of tools for batch processing of tiddlers and very common among TW users.
It supports all TW from 5.1.18 - 5.2.3

There request for adding new features and improving the UI which will be done, once official release of TiddlyWiki 5.3.0 is in public access. The reason is 5.3.0 makes implementing Commander more semantic.

List of to dos

- [ ] responsive UI
- [ ] Support fo

[2022-10-18 08:07] kookma commented on #26
See https://github.com/kookma/TW-Commander/issues/28

[2022-10-18 08:14] myfta commented on #27
5.3.0 of TW, not an update to TW-Commander?

On Tue, 18 Oct 2022 at 09:00, Mohammad Rahmani ***@***.***>
wrote:

[2022-10-18 08:35] xgadscu commented on #26
Great. I'm looking forward to the implementation...

[2022-10-18 10:23] kookma commented on #27
I may upload the dev branch! but no new update util 5.30
Feel free to submit a PR, it can be merged as a patch!

[2022-10-29 17:14] xgadscu opened #29 "Images and PDFs are deleted when being exported from Docker-Container using lazy-images mode"
I'm using tiddlywiki in several Docker-Containers (based on nicolaw/tiddlywiki). To make the TW start page load faster especially on my smartphone they run with TW_ROOTTIDDLER: $$:/core/save/lazy-images.

In order to upgrade from TW 5.2.2 to 5.2.3 I built a new container and wanted to export the content from the old to the new container. For this I used TW-Commander with the filter "[all[tiddlers]

[2022-10-29 18:38] kookma commented on #29
This can be as simple as `[!is[system]]`

Would you please repeat this using TiddlyWiki $:/AdvancedSearch -> Filter (e.g open advanced search, click the filter tab and enter your filter there).
TW-Commander does not anything with Export! This may be a TW issue! Note sure, but please do the above test and let me know the results

I take proper action, if this is the Commander issue

[2022-10-31 08:31] xgadscu commented on #29
Hi Mohammad,

you are right: basically it is an TW issue. When I use the filter and export button in Advanced Search I also get a JSON file that does not contain the images and PDFs except those that were shown in the time frame from initial loading till export.

However, this is also a TW Commander issue:

1. When using Advanced Search, the content in the source container is not deleted, while th

[2022-10-31 14:54] kookma commented on #29
I am not familiar with lazy images, but @saqimtiaz may have some idea here!

Commander does not modify tiddlers on export! You may use selective operation where a tag is added to pin tiddlers and do your operation of choice and you can deselect!
If you do not need selective operation, do not use it!

This is strange! Is it possible to share a minimal demo, I cannot reproduce it on my system.

[2022-10-31 18:17] xgadscu commented on #29
In order to demonstrate the problem I made the following steps:

1. run mywiki under **docker in lazy-images mode**
2. deleted all non-system tiddlers
3. imported the jack-tiddlers from the original tiddlywiki.com wiki
4. created a Test Tiddler
5. stopped the container and zipped the mywiki folder from my Docker-Volumes as `mywiki-before-export.zip`
6. started the container again
7. made the expor

[2022-11-01 17:17] kookma commented on #29
Thank you for the demo you provided. I believe none of these related to Commander. Unfortunately, I do not use Docker to make test with that, but on node.js and single html I cannot reproduce the issue!
Please raise this in Talk.tiddlywiki and let's see other what say

[2022-11-01 17:19] kookma commented on #29
I recommend talk.tiddlywiki.com and https://github.com/Jermolene/TiddlyWiki5

[2022-11-02 16:28] xgadscu commented on #29
see https://talk.tiddlywiki.org/t/strange-behavior-in-lazy-images-mode-images-and-pdfs-were-deleted/5012

[2022-11-02 20:42] kookma commented on #29
This was a core issue and has been addressed few hours ago here

https://github.com/Jermolene/TiddlyWiki5/pull/7014

[2022-11-02 20:42] #29 closed